* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
}

h1{
    font-style: italic;
    
}

div{
    background-color:rgb(170, 153, 187);
    margin-top: 25px;
    padding: 35px;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
    
}

button{
    background-color: indigo;
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

input {
    border-radius: 15px;
}

.btnAleatorio{
    width: 225px;
    padding: 15px;
}

footer {
    background-color:rgb(157, 124, 189);
    color: cornsilk;
    margin-top: 25px;
    padding: 1px;
    font-size: small;
}

